<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>color_detect.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>contour_extraction.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>histogram_backprojection.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>object_detect_orb.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>object_detect_sift_surf.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ransac.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>stitching.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>video.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC68BD0B26D27092007C63F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACB9B18726D4241E001CC97A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACDDA86F26B72E9B00A4ABE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACDDA87E26B7316400A4ABE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACDDA88926B7375000A4ABE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACDDA89526BB1A5300A4ABE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACDDA8A126C1959B00A4ABE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACDDA8AC26C19D4A00A4ABE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
